// structure
$portletHeight: 400px;


body {
    display: block;
}
.dynamicWidgets {
    padding: 1em 0;
    &.resizable {
        .column[class*="col-"] {
            flex: 1 auto;

            &[data-w="1"], 
            &[data-w="2"],
            &[data-w="3"], 
            &[data-w="4"],
            &[data-w="5"], 
            &[data-w="6"], 
            &[data-w="7"],
            &[data-w="8"],
            &[data-w="9"],
            &[data-w="10"],
            &[data-w="11"],
            &[data-w="12"] {width: 100%;flex: 1 100%; max-width: 100%;}
        }
    }

}

.portlet {
    &:not(.widget_Quote) {
        height: $portletHeight!important;
    }

    .headerItems {
        .sourceBtn {
            display: none;
        }
        &.menuOpen {
            .sourceBtn {
                display: block;
                position: absolute;
                right: 0;
                width: 50vw;
                top: 44px;
                background: #fff;
                color: #333;
                &.active {
                    color: #fff;
                    background-color: #6c757d;
                    border-color: #6c757d;
                }
            }
        }
    }
    &[data-template='carousel']{

        .card-body {
            overflow: auto;
            padding: 0;
            .col {
                width: 100%;
                flex: 1 100%;
                padding: 1em;
                min-width: calc(100vw - 50px);
            }

        }
        .rss_list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            height: 100%;
            flex-wrap: nowrap;
            
            

            li {
                list-style: none;
                display: inline-block;
                width: 33%;
                position: relative;
            }

            .rss_heading {
                font-weight: bold;
                display: block;
                margin: 5px 0;
            }
            .rss_content {

                img {
                    display: none;
                }
                h1 {
                    font-size: 18px;
                }
            }
            
            .rss_image_wrap {
                height: 200px;
                overflow: hidden;
                display: block;
                background: #333
            }
             .rss_image {
                width: 100%;
            }
        
        }
        
        
       
        
    }
    &[data-template='photocarousel']{
        .card-body {
            padding: 0;

            .row {
                height: 100%;
                margin: 0;

                .item {
                    background-size: cover;
                    padding: 10px;
                    
                }
            }
        }
    }
}

.portlet {
    &.widget_BibleTrivia {
        ul {
            list-style: none;
            margin: 0;
            margin-bottom: 1em;
            padding: 0;
            li {
                margin-left: 10px;
            }
        }
        p {
            padding: 0!important;
        }
        .actions {
            svg {
                display: none;
            }
        }
    }
    &.widget_NineGag {
        .rss_video_wrap {
            >* {
                max-width: 100%;
                margin: auto;
                max-height: 100%;
            
            }
        }
    }
    &.widget_Todo {
        background-image: url("../img/table.jpg");
        background-size: cover;
        .card-header {
            background: rgba(175, 119, 45, 0.8);
        }
        .card-body {
            display: grid;
            align-items: center;
            background: rgba(0,0,0,0.5);
            text-align:center;

        .random {
            display: inline-block;
            font-size: 2em;
            margin: auto;
            padding: .375em .75em;
        }
    }
    }
}


footer {
    &.mobile-footer {
        position: fixed;
        bottom: 0;
        width: 100vw;
        display: block;
        background: #eee;
        height: 45px;
        

    }
}


@media all and (min-width: 525px){ 
    .portlet {
        &[data-template='carousel']{
            .card-body .col {
                width: 50%;
                flex: 1 50%;
                min-width: 50%;
            }
            .rss_image_wrap {
                height: 160px;
            }
        }
    }
   
}

@media all and (min-width: 800px){
    .portlet {
        &[data-template='carousel']{
            .card-body .col {
                width: 33%;
                flex: 1 33%;
                min-width: 33%;
            }
            
        }
        .headerItems {
            .toggleSources  {
                display: none;
            }
            .sourceBtn {
                display: inline-block;
                position: static;
            }
        }
        
    }
    footer {
        &.mobile-footer {
            display: none;
        }
    }
    .dynamicWidgets {
        padding: 1em 0;
        &.resizable {
            .column[class*="col-"] {
                flex: 1 auto;
    
                &[data-w="1"] {width:8.333333%;flex: 1 8.333333%;; max-width: 8.333333%;;}
                &[data-w="2"] {width: 16.666667%;flex: 1 16.666667%; max-width: 16.666667%;}
                &[data-w="3"] {width: 25%;flex: 1 25%; max-width: 25%;}
                &[data-w="4"] {width: 33.333333%;flex: 1 33.333333%; max-width: 33.333333%;}
                &[data-w="5"] {width: 41.666667%;flex: 1 41.666667%; max-width: 41.666667%;}
                &[data-w="6"] {width: 50%;flex: 1 50%; max-width: 50%;}
                &[data-w="7"] {width: 58.333333%;flex: 1 58.333333%; max-width: 58.333333%;}
                &[data-w="8"] {width: 66.666667%;flex: 1 66.666667%; max-width: 66.666667%;}
                &[data-w="9"] {width: 75%;flex: 1 75%; max-width: 75%;}
                &[data-w="10"] {width: 83.333333%;flex: 1 83.333333%; max-width: 83.333333%;}
                &[data-w="11"] {width: 91.666667%;flex: 1 91.666667%; max-width: 91.666667%;}
                &[data-w="12"] {width: 100%;flex: 1 100%; max-width: 100%;}

                &[data-h="1"]{min-height: 100px;}
                &[data-h="2"]{min-height: 200px;}
                &[data-h="3"]{min-height: 300px;}
                &[data-h="4"]{min-height: 400px;}
                &[data-h="5"]{min-height: 500px;}
            }
        }
    
    }
    
    
}